---
layout: default
---
<div class="home">
  <h1 class="page-heading">
    Posts
    <span class="grouping-name">by date</span>
  </h1>
  <p class="other-groupings" role="navigation" aria-labelledby="Collections of posts">
    {% for grouping in site.groupings %}
      <a href="/{{ grouping.id }}">{{ grouping.name }}</a> | 
    {% endfor %}
  </p>
  </p>
  {{ content }}
  {% assign postsByMonth = site.posts | group_by_exp:"post", "post.date | date: '%B'" %}
  {% for month in postsByMonth %}
  <h2>{{ month.name }}</h2>
  <ul class="post-list">
    {% for post in month.items %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <a class="post-link" href="{{ post.url | relative_url }}"><span class="visuallyhidden">Name of post: </span>{{ post.title | escape }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
  <p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}">Subscribe to RSS</a>.</p>
  <p>Send any feedback to <a href="mailto:trexitfeedback@yandex.com">trexitfeedback@yandex.com</a>.</p>
</div>
